<header class="header" >
  <h1>Trainer Page</h1>
  <h2 class="changePage" (click)="goToPokemonCatalogue()" >Go to Pokemon Catalogue</h2>
  <h2 (click)="logOut()">Log out</h2>
</header>

<h4>Hi! This is the Pokemon you've caught!<br>Did you get any shiny pokemons? If not, catch a few more and come back here!</h4>

<main *ngIf="caughtPokemon !== undefined" class="pokemon-grid">
  <section *ngFor="let pokemon of caughtPokemon" class="box">

    <section *ngIf="pokemon.shiny">
      <h2>Shiny {{capitalizedPokemonName(pokemon.nickname)}}</h2>
      <img [src]="pokemon.sprites.front_shiny" [alt]="pokemon.name">
      <p>Wow, upon catching <b>{{pokemon.nickname}}</b>, it turns out it was a shiny one! That's suuuuper cool and happens just about 20% of the time thanks to the Math.random() function!</p>
    </section>

    <!-- IF THE POKEMON ISN'T A SHINY ONE -->
    <section *ngIf="!pokemon.shiny">
      <h2>{{capitalizedPokemonName(pokemon.nickname)}}</h2>
      <img [src]="pokemon.sprites.front_default" [alt]="pokemon.name">
    </section>

    <!-- POKEMON DESCRIPTION -->
    <p>This <b>{{pokemon.types[0].type.name}}</b>-pokemon weighs
      {{pokemon.weight}} pounds and is
      {{pokemon.height}} feet tall. {{capitalizedPokemonName(pokemon.name)}} has {{pokemon.stats[0].base_stat}} health.</p>
  </section>
</main>
