.box {
  width: 100%;
  padding: 1.2rem;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  border: 2px solid rgb(211, 211, 211);
  display: grid;
  text-align: center;
  grid-auto-rows: 0.7fr;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 40px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 12px -18px inset;
}
.box:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
  transform: scale(1.01);
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.box:hover img {
  transform: scale(1.5);
}

.box p {
  height: auto;
}

.pokemon-grid {
  display: grid;
  grid-gap: 2rem;
  padding: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
}






