<header class="header">
  <h1>Pokemon Catalogue</h1>
  <h2 class="changePage" (click)="goToTrainerPage()">Go to Trainer Page</h2>
  <h2 (click)="logOut()" >Log out</h2>
</header>
<main class="pokemon-grid">
  <app-pokemon-catalogue-item
    *ngFor="let pokemon of pokemons"
    (clicked)="handlePokemonClicked($event)"
    [pokemon]="pokemon">
  </app-pokemon-catalogue-item>
</main>
