<h1 id="title">Welcome to Pokemon Go Lite</h1>

<form class="loginForm" #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <label>Trainer name:</label>
  <input type="text" id="trainer-name"
         name="trainer-name"
         [(ngModel)]="name"
         required
         minlength="2"
         maxlength="25"
         placeholder="Ash"/>
  <button type="submit"
          class="loginButton"
          [disabled]="loginForm.invalid">
    Login</button>
</form>
