#title {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 120%;
    width: 40%;
  }

  to {
    margin-left: 0%;
    width: 40%;
  }
}

.loginForm {
  transition-delay: 3s;
  width: 27%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
}

.loginForm label {
  font-weight: 400;
}

.loginForm input {
  height: 2rem;
  margin-top: 0.3rem;
  border-radius: 5px;
  border: 1px solid #858585;
  background: rgba(255, 255, 255, 0.5);
  font-size: 1.4rem;
}

.loginForm input:focus {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid red;
}

.loginForm button {
  margin-top: 0.5rem;
  border-radius: 5px;
  border: 1px solid #858585;
  height: 2rem;
  font-size: 1.4rem;
}

.loginForm button:hover {
  cursor: pointer;
}
