/* ROOT STYLE SHEET You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Iceberg&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Cute Font', cursive;
  box-sizing: border-box;
}

html {
  background-image: url("src/assets/images/poke_day.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  font-size: 1.6rem;
}

h1, label, input, button {
  font-family: 'Iceberg', cursive;
}

h1 {
  color: #ffffff;
  text-shadow: 3px 3px 3px #000000;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header h2 {
  font-family: 'Iceberg', cursive;
  align-self: center;
}

.header h2:hover {
  cursor: pointer;
  transform: scale(1.01);
}
