<section class="pokemon-catalogue-item" (click)="onPokemonClicked()">

  <section>
    <section class="pokemon-catalogue-item__title-section">
      <h2>{{ capitalizedPokemonName(pokemon?.name) }}</h2>
      <img id="caught" *ngIf="pokemon?.caught" src="../../assets/images/poke-ball.png" alt="Pokeball">
    </section>
    <img [src]="pokemon?.sprites?.front_default" [alt]="pokemon?.name">
  </section>

  <p>This <b>{{pokemon?.types[0].type.name}}</b>-pokemon weighs
    {{pokemon?.weight}} pounds and is
    {{pokemon?.height}} feet tall. {{capitalizedPokemonName(pokemon?.name)}} has {{pokemon?.stats[0].base_stat}} health.
  </p>

</section>
